body {
  background-image: url("image/background.gif");
}

h1 {
  color: #221811;

}

header {
  height: 150px;
  background-image: url("image/javajamlogo.jpg")
  
  background-color: #D2B48C;
}

nav {
  text-align: center;
}

footer {
  background-color: #D2B48C;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 900px;
  max-width: 1280px;
  box-shadow: 5px 10px;
  background-color: #FEF6C2;
}

.details {

}
