body {
  background-image: url("image/background.gif");
}

main {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}

img {
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  color: #221811;
  padding-top: 45px;
  padding-left: 220px;
  font-size: 3em;
}

h4 {
  background-color: #D2B48C;
  font-size: 1.2em;
  padding-left: .5em;
  padding-bottom: .25em;
}

header {
  height: 150px;
  background-image: url("image/javajamlogo.jpg")

  background-color: #D2B48C;
}

nav {
  font-size: 1.5em;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
}

footer {
  padding-bottom: 10px;
  border-top: 2px;
  background-color: #D2B48C;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 900px;
  max-width: 1280px;
  box-shadow: 5px 10px;
  background-color: #FEF6C2;
}

.details {
  padding-left: 20%;
  padding-right: 20%;
}
