* {
  box-sizing: border-box;
}

body {
  background-image: url("images/background-image.png");
  background-attachment:fixed;
  }


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  text-align: center;
}


.landing {
  max-width: 5em;
  max-height: 5em;
  width: auto;
  height: auto;

}

/*table*/
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/*This is the main*/

.header {
  grid-area: header;
  text-align: center;
  height: 200px;
  text-decoration: underline;
}
.header img {
  height: 125px;
}
.navmenu {
  grid-area: menu;
  text-align: center;
  overflow: scroll;
  font-size: 3vw;
}
.navmenu ul {
  text-align: left;
  font-size: 3vw;

}
.main {
  grid-area: main;
  overflow: scroll;

}


/*landing FELXBOX section*/
.landingsect {
  display: flex;
  flex-wrap: wrap;
  background-color: #323233;
  width: auto;
}
.landingsect div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: auto;
  flex: 1 1 auto;
}

.landingsect img {

}

.main figcaption {
  font-size: 15px;
  text-align: center;
}

/*landing section*/

.footer { grid-area: footer; }


/*mobile view*/
@media screen and (max-width: 458px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-areas:
      'header'
      'menu'
      'main'
      'footer';
    grid-gap: 10px;
    background-color: #323233;
    padding: 10px;
    /* margin-left: 100px;
    margin-right: 100px; */
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    font-size: 30px;
  }
  .wrapper {
    max-width: 458px;
  }
}
/*DESKTOP*/
@media screen and (min-width: 459px) {
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #323233;
  padding: 10px;
  /* margin-left: 100px;
  margin-right: 100px; */
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 30px;
}
.wrapper {
  max-width: 100%;
  margin-left: 5em;
  margin-right: 5em;
}
}

/*form*/
form {
  padding: 2em;
  }
form label {
  float: left;
  display: block;
  text-align: right;
  width: 8em;
  padding-right: 1em
}
form input {
  display: block;
  margin-bottom: 1em
}
form textarea {
  display: block;
  margin-bottom: 1em;
}
#mySubmit {
  margin-left: 9.5em;
}
/*form*/
